/* Estilo geral */
body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menu */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Conteúdo */
main {
    padding: 20px;
    text-align: center;
}

/* Imagem */
img {
    width: 300px;
    margin-top: 10px;
    border: 4px solid #ffffff; /* Adiciona uma borda branca de 4 pixels ao redor da imagem */
    border-radius: 8px; /* Adiciona cantos arredondados à borda da imagem */

    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave para o efeito de zoom, com duração de 0.3 segundos e uma curva de aceleração suave (ease-in-out) */

}

/* Rodapé */
footer {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



/* Efeito de zoom ao passar o mouse sobre a imagem */
img:hover { 
    /* Faz a imagem aumentar 5% do tamanho original (1.1) */
    transform: scale(1.02); /* Aplica a transformação de escala para criar o efeito de zoom */
}

.container {
    display: flex;
    gap: 20px;
}

.conteudo {
    flex: 2;
}

.lateral {
    flex: 1;
}