@keyframes fade {
    0% { opacity: 0; } /* A página começa completamente transparente */
    100% { opacity: 1; } /* A página termina completamente opaca, criando um efeito de fade-in suave */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black", Impact, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #ffff;
    height: 100vh;

    animation: fade 1.5s;
}

.container-principal{
    display: flex;
    height: 100vh;
}

.menu-lateral {
    width: 300px;
    background-color: #000000;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 5px solid #3a43e4;
}

.logo-velvet {
    font-size: 24px;
    color: #3a43e4;
    text-align: center;
    letter-spacing: 2px;
}

.menu-lateral ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #222;
    font-size: 18px;
    transition: all 0.3 ease;

    transform: skewX(-10deg);
}

.menu-lateral ul li a:hover {
    transform: skewX(-10deg) scale(1.05);
    color: #000000;
}

.link-p1:hover {
    background-color: #a80fff;
}

.link-p3:hover {
    background-color: #00bfff;
}

.link-p4:hover {
    background-color: #ffe52c;
}

.link-p5:hover {
    background-color: #d92323;
}

.link-p6:hover {
    background-color: #1bd13a; color: white;
}

.link-index {
    text-decoration: none !important; /* Força o sumiço do sublinhado */
    color: #3a43e4 !important;        /* Força a logo a ficar com o seu azul */
    display: block;
    width: 100%;
    transition: transform 0.2s ease;
}

/* Efeito opcional: a logo dá uma leve aumentada preta/azul no hover */
.link-index:hover {
    transform: scale(1.05);
    color: #3a43e4;
}

.conteudo-principal {
    flex: 1; /* Ocupa todo o resto do espaço da tela */
    padding: 50px;
    background-color: #141414;
    
}